<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User page</title>
    <style>
        table th, table td {padding: 5px;}
        .row  {
            font-style: italic;
        }
        .even-row {
            color: black;
        }
    </style>
</head>
<body>
<h1>User data</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    <tr>
        <td th:utext="${person.getId()}">Id</td>
        <td th:utext="${person.getName()}">Name</td>
        <td th:utext="${person.getSurname()}">Surname</td>
        <td th:utext="${person.getAge()}">Age</td>
        <td th:utext="${person.getPassword()}">Password</td>
        <td ><table>
            <tr th:each="role : ${person.getRoles()}">
                <td th:utext="${role.getName()}">Name</td>
            </tr>
        </table></td>
    </tr>
</table>
<br/>
<hr/>
<br/>
<a th:href="@{/admin/{id}/edit(id=${person.getId()})}">Изменить пользователя</a>
<br/>
<br/>
<form th:method="DELETE" th:action="@{/admin/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить пользователя"/>
</form>
<br/>
<br/>
<a href="/admin">Вернуться ко всем пользователям</a>
<br/>
<br/>
<br/>
<br/>
<br/>
<a href="/logout">Logout</a>
</body>
</html>
